@import "../../styles/vars.scss";

.wrapper {
    min-height: 100vh;
    padding-bottom: 40px;
    background: $backgrounColor;
    background: url('/images/background.jpg') 0 0 no-repeat;
    background-size: cover;
}